/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    color-scheme: light dark;

  /* Font families */
  --ff: monospace;

  /* Font weights */
  --fw-n: 400;

  /* Color scheme */
  --primary-clr: #f5d547;
  --bg-clr: light-dark(#ebebd3, #3c3c3b);
  --darker-bg-clr: light-dark(#b3b37b, #21211f);
  --accent-clr:light-dark(#3c3c3b, #ebebd3);
  --txt-clr: light-dark(#171716, #f0f0e7);

  --shadow-opacity: light-dark(0.6, 1);

}


body {
  background-color: var(--bg-clr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}





/***************/
/* SLOT ICONS */
/*************/


body {
  margin: 0;
  font-family: var(--ff);
  font-weight: var(--fw-n);
  color: var(--txt-clr);
  display: grid;
  grid-template-columns: 20em 20em 20em;
  grid-template-rows: max-content 40em max-content;
}

h1 {
    text-align: center;
    grid-row: 1/2;
    grid-column: 1/-1;
    margin-top: 3em;
}

form {
    grid-row: 3/4;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}



div {
  width: 100%;
  margin-left: -4em;
}



div:nth-of-type(1) {
  grid-row: 2/3;
  grid-column: 1/2;
}

div:nth-of-type(2) {
  grid-row: 2/3;
  grid-column: 2/3;
}

div:nth-of-type(3) {
  grid-row: 2/3;
  grid-column: 3/4;
}


ul {
  display: grid;
  transform-style: preserve-3d;
  transform: perspective(450px) rotateX(20deg);
  position: relative;
  margin-left: 10em;
}


@keyframes rotateSlot {
  0% {transform: perspective(450px) rotateX(20deg)}
  10% {transform: perspective(450px) rotateX(40deg)}
  80% {transform: perspective(450px) rotateX(-1060deg)}
  90% {transform: perspective(450px) rotateX(-1040deg)}
  100% {transform: perspective(450px) rotateX(-1060deg)}
}

ul li {
  position: absolute;
  transform: rotateX(var(--itemDeg)) translateZ(200px) rotateX(-20deg);
  list-style-type: none;
  transform-origin: center top;
}

div:nth-of-type(2) ul li{
  transform: rotateX(calc(var(--itemDeg) + 120deg )) translateZ(200px) rotateX(-20deg);
}

div:nth-of-type(3) ul li{
  transform: rotateX(calc(var(--itemDeg) + 80deg )) translateZ(200px) rotateX(-20deg);
}

ul li:nth-of-type(1) {--itemDeg: 0deg}
ul li:nth-of-type(2) {--itemDeg: 40deg}
ul li:nth-of-type(3) {--itemDeg: 80deg}
ul li:nth-of-type(4) {--itemDeg: 120deg}
ul li:nth-of-type(5) {--itemDeg: 160deg}
ul li:nth-of-type(6) {--itemDeg: 200deg}
ul li:nth-of-type(7) {--itemDeg: 240deg}
ul li:nth-of-type(8) {--itemDeg: 280deg}
ul li:nth-of-type(9) {--itemDeg: 320deg}


ul li p {
    font-size: 4em;
    line-height: 0.3em;
    margin: 0;
    padding: 0.9em .6em;
    border-radius: .2em;
    background-color: var(--darker-bg-clr);
}



body:has(input[type="checkbox"]:checked) div ul {
      animation: rotateSlot 8s linear;
}


body:has(input[type="checkbox"]:checked) div:nth-of-type(2) ul {
      animation-delay: .5s;
}

body:has(input[type="checkbox"]:checked) div:nth-of-type(3) ul {
      animation-delay: 1s;
}



